<!-- <div class="max-w-sm rounded-lg bg-primary absolute left-2/4 top-2/4 ttmid p-5 w-72 shadow-2xl">
        <h5 class="mb-5 text-2xl font-bold tracking-tight text-white text-center">Make some waves</h5>
        <form action="" class="w-full">
            <input name="title" type="search" class="w-full h-8 bg-secondary rounded-lg mb-3 text-center" placeholder="Title" required>
            <textarea name="title" type="search" class="w-full h-24 bg-secondary rounded-lg resize-none text-center" placeholder="Message" required></textarea>
        </form>
</div> -->

<div class="hidden fixed top-0 bottom-0 left-0 right-0 w-full h-full bg-translucent z-10" id="overlay"></div>
<form id="post" class="rounded-tl-lg rounded-tr-lg bg-primary absolute left-2/4 top-2/4 ttmid p-5 w-122 shadow-2xl hidden z-20">
    <header class="flex justify-between mb-5">
        <p class="text-white font-bold">Make some waves</p>
        <button type="button" onclick="closeModal('post')"><i class="fa-solid fa-x fa-sm" style="color: #ffffff;"></i></button>
    </header>
    <div class="flex justify-between">
        <div>
            <p class="text-sm mb-2 text-[#abacb3]">Attached image</p>
            <div class="bg-secondary w-52 h-40 rounded-lg flex items-center justify-center border border-gray-700">
                <svg viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-10 h-10">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M33.2503 38.4816C33.2603 37.0472 34.4199 35.8864 35.8543 35.875H83.1463C84.5848 35.875 85.7503 37.0431 85.7503 38.4816V80.5184C85.7403 81.9528 84.5807 83.1136 83.1463 83.125H35.8543C34.4158 83.1236 33.2503 81.957 33.2503 80.5184V38.4816ZM80.5006 41.1251H38.5006V77.8751L62.8921 53.4783C63.9172 52.4536 65.5788 52.4536 66.6039 53.4783L80.5006 67.4013V41.1251ZM43.75 51.6249C43.75 54.5244 46.1005 56.8749 49 56.8749C51.8995 56.8749 54.25 54.5244 54.25 51.6249C54.25 48.7254 51.8995 46.3749 49 46.3749C46.1005 46.3749 43.75 48.7254 43.75 51.6249Z" fill="#687787"/>
                </svg>
            </div>
        </div>
        
        <div class="w-56">
            <div class="h-full">
                <p class="text-sm mb-2 text-[#abacb3]">Post</p>
                <input type="text" name="title" id="titlepost" placeholder="Title" class="w-full bg-secondary h-7 rounded-lg pl-3 text-sm mb-2 placeholder:text-gray-700 border border-gray-700 text-[#abacb3]" required>
                <textarea id="bodypost" name="body" placeholder="Body" class="w-full bg-secondary h-24 rounded-lg pl-3 text-sm mb-2  border border-gray-700 placeholder:text-gray-700 text-[#abacb3]" required></textarea>
            </div>
            <!-- <div class="flex items-center">
                <label class="relative inline-flex items-center cursor-pointer"> 
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                    <span class="ml-3 text-sm font-medium text-gray-300">Schedule Post</span>
                </label>
            </div> -->
        </div>
    </div>
    <footer class="bg-gray-700 w-122 -ml-5 h-14 absolute mt-5 rounded-bl-lg rounded-br-lg p-3 flex justify-end">
        <button class="h-full w-20 bg-tidalblue rounded-lg text-sm text-white" id="postcardbutton">Post</button>
    </footer>
</form>

<form id="settings" class="rounded-tl-lg rounded-tr-lg bg-primary absolute left-2/4 top-2/4 ttmid p-5 w-122 shadow-2xl hidden z-20">
    <header class="flex justify-between mb-5">
        <p class="text-white">Make some waves</p>
        <button type="button" onclick="closeModal('settings')"><i class="fa-solid fa-x fa-sm" style="color: #ffffff;"></i></button>
    </header>
    <div class="flex justify-between">
        <input name="pfp" type="file" />
    </div>
    <footer class="bg-gray-700 w-122 -ml-5 h-14 absolute mt-5 rounded-bl-lg rounded-br-lg p-3 flex justify-end">
        <button class="h-full w-20 bg-tidalblue rounded-lg text-sm text-white">Save</button>
    </footer>
</form>