<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tidal</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/25552dd253.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="logo.svg">
    <link rel="stylesheet" href="fonts.css">
    <style type="text/tailwindcss">
              @layer base {
          html {
            font-family: 'Gabarito', sans-serif;
          }
        }

        @layer utilities {
          .bg-primary {
            background-color: #1D232A;
          }
          .text-primary {
            color: #1D232A;
          }
          .bg-secondary {
            background-color: #2A323C;
          }
          .text-tidal-lightgray::placeholder {
            color: #5D6876;
          }
          .text-tidal-lightgray {
            color: #5D6876;
          }
        }
        @layer utilities {
          .grayishwhite {
            background-color: #2c353f;
          }

          .maincolor {
            background-color: #1d232a;
          }

          .calcheight1 {
            height: calc(100% - 7rem)
          }

          .calcheight2 {
            height: calc(100% - 13rem)
          }
          
          .h-122 {
            height: 34rem;
          }
          .w-122 {
            width: 34rem;
          }

          .bg-tidalblue {
            background-color: #5271FF;
          }

          .color-tidalblue {
            color: #5271FF;
          }

          .bg-tidalyellow {
            background-color: #F0AA42;
          }

          .color-tidalyellow {
            color: #F0AA42;
          }

          .bg-tidalgray {
            background-color: #8B8B8B;
          }

          .color-tidalgray {
            color: #8B8B8B;
          }

          .z-index-1 {
            z-index: 1;
          }
          .z-index-2 {
            z-index: 1;
          }
          .z-index-3 {
            z-index: 1;
          }
          .ttmid {
            transform: translate(-50%, -50%);
          }
          .ttmid2 {
            transform: translate(-50%);
          }
          .extralength {
              width: 54rem;
          }
          .rem35 {
              width: 35rem;
          }
          .rem26 {
              width: 26rem;
          }

          .text-ccm {
            font-family: 'CascadiaMono', monospace;

          }
          .text-ccc {
            font-family: 'CascadiaCode', monospace;
            font-weight: 200;
          }

          .calcwidth {
            width: calc(100% - 35rem);
          }
          .h-67 {
            height: 18rem;
          }

          .calcheight3 {
            height: calc(100% - 4rem);
          }
          .calcheight4 {
            height: calc(100% - 7.5rem);
          }

          .w-fix {
            width: calc(100% + 20px);
          }
        }
    </style>
</head>