<!DOCTYPE html>
<html lang="en" class="h-full bg-[#1d232a]">
<%- include('./partials/head.ejs') %>

<body class="h-full p-7 bg-[#1d232a]">
    <%- include('./partials/page.ejs') %>
    <%- include('./partials/cards.ejs') %>
    
    
    <%- include('./partials/scripts.ejs') %>
    
</body>